.post-preview-list {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );

    a.post-preview {
        text-decoration: none;
        color: inherit;
        padding: 20px;
        img {
            width: 100%;
            height: auto;
        }

        &:hover {
            background: #eee;
        }
    }
}